extends layout

block content
    link(href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet")
    section(class="flex flex-col items-center")
        h1(class="text-4xl m-4") Users
        div(class="flex flex-col p-4 ").user-administration-list
            div(class="flex flex-row justify-between my-1 p-3")
                span(class="w-1/5 overflow-hidden").font-bold Email
                span(class="w-1/5 overflow-hidden").font-bold First Name
                span(class="w-1/5 overflow-hidden").font-bold Last Name 
                span(class="w-1/5 overflow-hidden").font-bold Administrator
                span(class="w-1/5 overflow-hidden").font-bold Edit
                span(class="w-1/5 overflow-hidden").font-bold Delete
            div.users-list
                each user in users
                    div(class="flex flex-row justify-between items-center my-2 p-2 bg-gray-800 rounded-md")
                        span(class="w-1/5 overflow-hidden") #{user.email}
                        span(class="w-1/5 overflow-hidden") #{user.first}
                        span(class="w-1/5 overflow-hidden") #{user.last}
                        span(class="w-1/5 overflow-hidden") #{user.admin}
                        form(action='/admin/update' method='post' class="w-1/5 overflow-hidden")
                            input(type='hidden' name="userId" value=user._id)
                            input(type='hidden' name="actuallyGetRequest" value='true')
                            button(type='submit' class="text-yellow-500 hover:underline") EDIT
                        form(action='/admin/delete' method='post' class="w-1/5 overflow-hidden")
                            input(type='hidden' name="userId" value=user._id)
                            input(type='hidden' name="actuallyGetRequest" value='true')
                            button(type='submit' class="text-red-500 hover:underline") DELETE
